
{% extends "__base.html" %}

{% block sub_style %}
    body, html {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }
    .container {
        text-align: center;
    }
    #copySuccessAlert, #copyFailedAlert, #emptyFileAlert {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5; /* 다른 요소들보다 위에 위치 */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
    }
    #copySuccessAlert.fade, #copyFailedAlert.fade, #emptyFileAlert.fade {
        animation: fadeOut 2s ease forwards;
    }
    #copySuccessAlert.fade.show .btn-close, #copyFailedAlert.fade.show .btn-close, #emptyFileAlert.fade.show .btn-close {
        display: none;
    }
    #copySuccessAlert.fade.show + #textUploader, #copyFailedAlert.fade.show + #textUploader, #emptyFileAlert.fade.show + #textUploader {
        margin-top: 0;
    }
    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
{% endblock %}
{% block sub_body %}
<div class="container centered-container">
    {% block page_body %}{% endblock %}
    <div id="copySuccessAlert" class="alert alert-primary alert-dismissible fade show" role="alert" style="display: none;">
        프레젠테이션 주소가 클립보드에 복사되었습니다!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="copyFailedAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
        프레젠테이션 주소 복사에 실패하였습니다...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="emptyFileAlert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
        파일을 선택하세요...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endblock %}
{% block sub_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
{% endblock %}