
{% extends "_base_page.html" %}

{% block title %}file translate{% endblock %}

{% block page_style %}
    .custom-file-input {
        cursor: pointer;
    }
    .custom-file-label::after {
        content: "파일 선택";
    }
{% endblock %}

{% block page_body %}
<h1 class="animate__animated animate__fadeInDown">텍스트 파일(*.txt)을 올리십쇼</h1>
<form id="textUploader" action="/uploadFile/" enctype="multipart/form-data" method="post" target="_blank" class="animate__animated animate__fadeInUp">
    <div class="form-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="fileInput" name="file">
            <label class="custom-file-label" for="fileInput">파일을 선택하세요</label>
        </div>
    </div>
    <div class="form-group">
        <input id="submitButton" type="submit" value="만들기" class="btn btn-primary hvr-bounce-to-right">
        <button type="button" onclick="copyurl()" class="btn btn-secondary rounded-pill px-3">URL 복사</button>
    </div>
</form>
{% endblock %}

{% block page_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
    function copyurl() {
        // 파일 가져오기
        var fileInput = document.getElementById("fileInput").files[0];
        // 폼 데이터 구성하기
        var formData = new FormData();
        formData.append("file", fileInput);
        // css init
        var alertBox = document.getElementById('copySuccessAlert');
        alertBox.classList.add('fade');
        alertBox.style.opacity = '0';
        document.getElementById('copySuccessAlert').style.display = 'none';
        // ajax
        fetch("/copyFile/", {
            method: "POST",
            body: formData
        })
        .then(response => response.text())
        .then(text => {
            navigator.clipboard.writeText(window.location.origin+'/result/'+text).then(function() {
                document.getElementById('copySuccessAlert').style.display = 'block';
            }, function(err) {
                console.error("텍스트 복사 실패: ", err);
            });
        });
    }
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("fileInput").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })
</script>
{% endblock %}
