
{% extends "__base.html" %}

{% block title %}page guide{% endblock %}
{% block page_style %}
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        max-width: 1000px;
        height: 70vh;
        background-color: #34495e;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        border-radius: 8px;
        overflow: hidden;
        color: #ecf0f1;
    }
    .input-container, .preview-container {
        width: 100%;
        height: 50%;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
    }
    .markdown-content {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #2c3e50;
        font-size: 14px;
        line-height: 1.6;
        white-space: pre-wrap;
        overflow: auto;
        background-color: #2c3e50;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    .preview-container {
        overflow: hidden;
    }
    .guide-text {
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }
    .header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    }
    .header-box, .header-box:hover, .header-box:link, .header-box:active {
        display: block;
        color: inherit;
        text-decoration: none;
    }
    .header:hover {
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #E9D4FF;
        color: #000;
    }
    .footer {
        background-color: #333; /* footer 배경색 */
        color: #fff; /* footer 텍스트 색상 */
        text-align: center;
        padding: 5px; /* footer 안 여백 */
        position: fixed; /* 페이지 하단에 고정 */
        left: 0;
        bottom: 0;
        width: 100vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    }
    .footer-box, .footer-box:hover, .footer-box:link, .footer-box:active {
        display: block;
        color: inherit;
        text-decoration: none;
    }
    .footer:hover {
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: #E9D4FF;
        color: #000;
    }
{% endblock %}
{% block sub_body %}
<header class="header">
    <a href="/t2wtext" class="header-box">돌아가기</a>
</header>
<div id="guide-container" class="guide-container">
    <div class="guide-content">
        <h1 class="guide-text">마크다운 가이드</h1>
        <div class="container">
            <div class="input-container">
                <div id="markdown-content" class="markdown-content">{{ content }}</div>
            </div>
            <div class="preview-container">
                <iframe id="preview" src="/t2wexample"></iframe>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <a href="/t2wguide2" class="footer-box">커스텀 가이드</a>
</footer>
{% endblock %}