
{% extends "_base_page.html" %}

{% block title %}text translate{% endblock %}

{% block page_style %}
    #textInput {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f9fa;
        resize: none;
    }
    #textInput:focus {
        border-color: #4CAF50;
    }
{% endblock %}

{% block page_body %}
<h1 class="animate__animated animate__fadeInDown">슬라이드 내용을 입력하십쇼</h1>
<form id="textUploader" action="/uploadText/" enctype="application/x-www-form-urlencoded" method="post" target="_blank" class="animate__animated animate__fadeInUp">
    <div class="form-group">
        <textarea id="textInput" name="content" rows="5" class="form-control" placeholder="텍스트를 입력하세요"></textarea>
    </div>
    <div class="form-group">
        <input id="submitButton" type="submit" value="만들기" class="btn btn-primary hvr-bounce-to-right">
        <button type="button" onclick="copyurl()" class="btn btn-secondary rounded-pill px-3">URL 복사</button>
    </div>
</form>
{% endblock %}
{% block page_script %}
<script>
    function copyurl() {
        // 데이터 가져오기
        var textInput = document.getElementById("textInput").value;
        // 폼 데이터 구성하기
        var formData = new FormData();
        formData.append('content', textInput);
        // css init
        var alertBox = document.getElementById('copySuccessAlert');
        alertBox.classList.add('fade');
        alertBox.style.opacity = '0';
        document.getElementById('copySuccessAlert').style.display = 'none';
        // ajax
        fetch("/copyText/", {
            method: "POST",
            body: formData
        })
        .then(response => response.text())
        .then(text => {
            navigator.clipboard.writeText(window.location.origin+'/result/'+text).then(function() {
                document.getElementById('copySuccessAlert').style.display = 'block';
            }, function(err) {
                console.error("텍스트 복사 실패: ", err);
            });
        });
    }
</script>
{% endblock %}