<meta charset=utf-8>
<style>
body { margin: 0; }
#animatedBackground {
        width: 100%;
        height: 100%;
        left: 0;
        display: flex; 
        align-items:center;
        justify-content:center;
        background: url("/static/images/bonobono.png");
        background-repeat: repeat;
        background-position: 0 0;
        background-size: auto auto;
        animation: animatedBackground 20s linear infinite;
}
@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 0;
	}
}
a {
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	font-size: 50px;
	text-decoration: underline;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake { /* for wait a second */
  0% { color: #f00; }
  9% { color: #f80; }
  18% { color: #ff0; }
  27% { color: #8f0; }
  36% { color: #0f0; }
  45% { color: #0f8; }
  54% { color: #0ff; }
  63% { color: #08f; }
  72% { color: #00f; }
  81% { color: #80f; }
  90% { color: #f0f; }
  99% { color: #f08; }
}
#textWrapper {
  margin: 0;
  padding: 0;
  animation: rotate_image 3s linear infinite;
  transform-origin: 50% 50%;
}

#textBoundary {
  margin: 0;
  padding: 0;
  animation: x 3s ease-in-out alternate infinite 0s both;
}
#textBoundary2 {
  margin: 0;
  padding: 0;
  animation: y 6s ease-in-out alternate infinite 0s both;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
@keyframes x {
    0% {
      transform: translate(-200px, 0);
    }
    100% {
      transform: translate(200px, 0);
    }
}

@keyframes y {
    0% {
      transform: translate(0,200px);
    }
    100% {
      transform: translate(0, -200px);
    }
}
</style>
<div id="animatedBackground">
	<div id="textBoundary">
		<div id="textBoundary2">
			<div id="textWrapper">
				<a href="#" id="closeButton">{{ content }}<a>
			</div>
		</div>
	</div>
</div>
<script>
  document.getElementById('closeButton').addEventListener('click', function() {
    window.close();
  });
</script>