<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T2W</title>
</head>
<body>
    <h1>텍스트 파일(*.txt)을 올리십쇼</h1>
    <form id="textUploader" action="/upload/" enctype="multipart/form-data" method="post" target="_blank">
        <input name="file" type="file">
		<input id="submitButton" type="submit" value="만들기">
    </form>
</body>
</html>