<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/theme/moon.min.css" id="theme">
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <!-- 텍스트 파일 변환 -->
            <section data-background-iframe="t2wfile">
            </section>

            <!-- 텍스트 직접 변환 -->
            <section data-background-iframe="t2wtext">
            </section>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/reveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.3.1/plugin/markdown/markdown.min.js"></script>
    <script>
        // reveal.js 초기화
        Reveal.initialize({
            //backgroundTransition: 'none',
        });
    </script>
</body>
</html>