.sheet-body {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px;
}

.sheet-body::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  border: 1px solid gray;
  height: 56px;
}

.cell-cover {
  width: 100%;
  height: 56px;
  overflow: hidden;
}

.cell-focused {
  border: 3px solid #4f94df;
}

.cell-body {
  height: auto;
}

.hidden {
  display: none;
}